{% extends "base.html" %}

{% block content %}
    <h2>Home</h2>
    <div class= CenterArea>
    <div style="display: flex; justify-content: center;
    align-items: center;">

        <button type="button"><a href="{{ url_for('login') }}">Login</a></button>

        <button type="button"><a href="{{ url_for('add_new') }}">Add New</a></button>

    </div>
    <div>
        <img src="static\img_01.png" alt="Spinning Image" class="spinning-image">
    </div>
</div>


{% endblock %}